/* 
Основной цвет текста -  #757575
Вторичный цвет текста - #212121
Цвет ссылок - 
акцент - #2196F3
белый - #FFFFFF

 */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;

  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --dark-bc-color: #2f303a;
  --button-bc-color: #f5f4fa;
  --light-gray-color: #ececec;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  margin: 0;
}

/* убирает маркеры в списках */
.list {
  list-style: none;
}

/* Убирает подчеркивания в ссылках */
.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* HEADER */
.header {
  border-top: 1px solid var(--light-gray-color);
  border-bottom: 1px solid var(--light-gray-color);
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* LOGO */
.logo {
  color: #000000;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  margin-right: 93px;
}

.logo > span {
  color: var(--accent-color);
}

/* Site-nav */
.site-nav {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.site-nav > .item:not(:last-child),
.contacts-list > .item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  color: var(--title-text-color);

  font-weight: 500;
  letter-spacing: 0.02em;

  display: block;
  padding: 32px 0;
}

.nav-link--active {
  color: var(--accent-color);
}

/* contacts-nav */
.contacts-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.contacts-list .link {
  color: inherit;

  font-weight: 500;
  letter-spacing: 0.02em;

  display: block;
  padding: 32px 0;
}

.contacts-list .link:hover,
.site-nav .link:hover,
.contacts-list .link:focus,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* HERO */
.hero {
  background-color: var(--dark-bc-color);

  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: 0;
  margin-left: 0;
}

.hero-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 30px;
}

/* BUTTON */
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  display: inline-block;
  padding: 10px 32px;
}

/* section */
.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Особенности */
.section.peculiarities {
  padding-top: 90px;
  padding-bottom: 90px;
}

.section.peculiarities .section-title {
  display: none;
}

.peculiarities-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.peculiarities-list > .item {
	width: calc((100% - 3 * 30px) / 4);
	/* width: 270px; */
	/* margin-right: 30px; */
}

.peculiarities-list .title {
  color: var(--title-text-color);

  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}

.peculiarities-list .text {
  line-height: 1.7;

  margin-top: 0;
  margin-bottom: 0;
}

/* Наша команда */
.team-list .title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* footer */
.footer {
  background-color: var(--dark-bc-color);
}

.footer-logo {
  color: var(--primary-white-color);
}
.footer-address {
  color: var(--primary-white-color);

  font-style: normal;
  line-height: 1.7;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);

  line-height: 1.7;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/*!  PORTFOLIO */

/* filter */
.filter .radio-button {
  color: var(--title-text-color);
  background-color: var(--button-bc-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.filter .radio-button:hover,
.filter .radio-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Примеры работ */
.works-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-list .text {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.88;
}
